.chart-container {
  width: 100%;
  position: relative;
}

.chart-label {
  position: absolute;
  top: -0.25rem;
  left: 0;
}

.pie-chart-label {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}