.form-group {
  margin-bottom: 0.5rem;

  label {
    color: $gray-500;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.75em;
  }
}

.form-control-sm {
  height: 1.5rem;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.form-control-inline {
  width: auto;
  min-width: 3rem;
  max-width: 4rem;
}