.form-group {
  margin-bottom: 0.5rem;

  label {
    color: $gray-500;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.75em;
  }
}

.form-control-sm {
  height: 1.5rem;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.form-control-inline {
  width: auto;
  min-width: 3rem;
  max-width: 4rem;
}

.form-group-container .form-group:last-of-type {
  margin-bottom: 0;
}

.fieldset {
  position: relative;
  margin-top: 0.75rem;
}

.fieldset-label {
  color: $gray-500;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.75em;
  position: absolute;
  top: -0.75rem;
  left: 0.25rem;
  padding: 0.25rem;
  width: calc(100% - 0.5rem);

  .btn {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.5rem;
    color: $gray-500;
  }

  & > * {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background: $app-black;
  }
}

.fieldset-body {
  border: 1px solid $gray-500;

  &.collapsed {
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 0.5em;
  }
}

.field-container {
  .field-container-wrapper {
    padding-right: 0.5rem;

    &:last-of-type {
      padding-right: 0;
    }
  }
}