.scrollable, body {
  overflow-y: auto;
  overflow-x: hidden;

  &.enable-vertical-scroll {
    overflow-x: auto;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($app-black, 15%);
    border: 2px solid transparent;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: $app-black;
    border: 0 none #ffffff;
    border-radius: 0;
  }

  &::-webkit-scrollbar-corner {
    background: $app-black;
  }
}

.scrollable--x {
  overflow-x: auto;
}

.scrollable--bigger {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
  }
}