.absolute-container {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.btn-round {
  border-radius: 50%;
}

.mw-20 {
  max-width: 20rem;
}

.mh-100 {
  max-height: 100%;
}

.position-absolute-tl {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.selection-indicator {
  box-shadow: 0 0 3px 1px $primary;
}

.clickable {
  cursor: pointer;
}