body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $gray-100;
}

.editmode-container {
  background-image: url('../images/background.asset.svg');
  background-repeat: repeat;
}

.app {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform-origin: center 0;
}

.layout {
  width: 100%;
  height: auto !important;
}

.editmode {
  max-height: 100%;
  overflow: hidden;
}

.editmode-header {
  background: $primary;
}

.editmode-sidebar {
  min-width: 20rem;
  background: $app-black;
}

.editmode-sidebar-body {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}