body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $gray-100;
}

.app {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 0.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.layout {
  width: 100%;
  height: auto !important;
}