$app-primary: #ea5b5d;
$app-black: #292933;

$primary: $app-primary;
$secondary: $app-black;

$border-radius: 0.125rem;
$border-radius-lg: 0.25rem;
$border-radius-sm: 0.125rem;


$primary80: #EA5B5D;
$primary90: #CF3636;
$primary100: #FF3300;
$primary110: #D92B00;
$primary120: #BB0040;

//new colors - import from tokens later:
$neutral80: #0F1419;
$neutral90: #232328;
$neutral100: #292933;
$neutral110: #343441;
$neutral120: #47475A;


$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #bbb;
$gray-600: #666;
$gray-700: #444;
$gray-800: #222;
$gray-900: #212121;
$black: #000;
$blue: #2196F3;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e51c23;
$orange: #fd7e14;
$yellow: #ff9800;
$green: #4CAF50;
$teal: #20c997;
$cyan: #9C27B0;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$body-color: $gray-700;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;