.components-bar__component {
  position: relative;
}

.selection-indicator .components-bar__component {
  background: $primary;
  color: white;
  border: 1px solid $primary;
  z-index: 10;

  .btn.btn-link {
    color: white;
  }

  .components-bar__control {
    display: block;
  }
}

.components-bar__up, .components-bar__down {
  position: absolute;
  left: 50%;
  display: none;
}

.components-bar__up {
  top: 0;
  transform: translate(-50%, -50%);
}

.components-bar__down {
  bottom: 0;
  transform: translate(-50%, 50%);
}