.editmode-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.editmode-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.7);
}