.sidebar {
  z-index: 70;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 20rem;

  .sidebar-card {
    border: none;
    overflow: hidden;
    box-shadow: none;
  }

  .sidebar-header {
    background: $app-black;
    border: none;
  }

  .sidebar-title {
    text-transform: none;
  }

  .sidebar-body {
    overflow-x: hidden;
    overflow-y: auto;
    background: $app-black;
  }

  .sidebar-footer {
    background: $app-black;
  }
}