.sidebar {
  z-index: 70;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 20rem;
  background: $app-black;

  .sidebar-card {
    border: none;
    overflow: hidden;
    box-shadow: none;
    background: transparent;
  }

  .sidebar-header {
    background: $neutral110;
    border: none;
  }

  .sidebar-title {
    text-transform: uppercase;
  }

  .sidebar-body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar-footer {
    background: $neutral110;
  }

  .nav-link{
    text-transform: uppercase;
  }

  .nav-tabs{
    margin: 0 -.5rem;
  }

}