.sidebar {
  z-index: 70;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  max-width: 70%;
  min-width: 20rem;

  .sidebar-card {
    border: none;
  }

  .sidebar-body {
    overflow-x: hidden;
    overflow-y: auto;
    background: $app-black;
  }

  .sidebar-footer {
    background: $app-black;
  }
}